@model Log4JDash.Web.Controllers.LogIndexViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    @{
        var any = false;
        var start = Model.Form.Offset + 1;
    }
    <ol class="log-list">
        @foreach (var @e in Model.Events)
        {
            any = true;

            var id = e.Id;
            var levelClass = e.Level.ToLowerInvariant ();
            var timestamp = e.Time.ToLocalTime ();
            var date = timestamp.ToString ("yyyy-MM-dd");
            var time = timestamp.ToString ("HH:mm:ss.fff");

            <li class="log-item log-item-@levelClass" value="@id">
                <div class="log-item-timestamp">
                    <label>Timestamp:</label>
                    <span>
                        <span class="log-item-timestamp-date">@date</span>T<span class="log-item-timestamp-time">@time</span>
                    </span>
                </div>
                <div class="log-item-thread">
                    <label>Thread:</label>
                    <span>@e.Thread</span>
                </div>
                <div class="log-item-logger">
                    <label>Logger:</label>
                    <span>@e.Logger</span>
                </div>
                <div class="log-item-level">
                    <label>Level:</label>
                    <span>@e.Level</span>
                </div>
                <div class="log-item-message">
                    <label>Message:</label>
                    <span>@e.Message</span>
                </div>
            </li>
        }
    </ol>
    @if (!any)
    {
        <div>Empty!</div>
    }
</body>
</html>
