@using System.Globalization
@using Log4JDash.Web.Mvc
@model Log4JDash.Web.Models.EventsQuantity
@{
    Layout = "_Editor.cshtml";

    var id = Html.IdForModel ();
    var name = Html.NameForModel ();

    var value = Model.Value > 0
        ? Model.Value
        : 20;

    var options = new SortedSet<int>
    {
        5,
        10,
        20,
        50,
        100,
        value
    };

    var modelMetadata = ViewData.ModelMetadata;
    var defaultValue = DefaultValueUtil.GetDefaultValue (modelMetadata);
}
<select id="@id" name="@name" onchange="SyncSelectClass(this)" @DefaultValueUtil.HtmlAttibute="@defaultValue">
    @foreach (var q in options)
    {
        var isSelected = q == value;
        var selected = isSelected
            ? Html.Raw (" selected=\"selected\"")
            : MvcHtmlString.Empty;
        <option value="@q.ToString(CultureInfo.InvariantCulture)"@selected>@q</option>
    }
</select>
