@using Log4JDash.Web.Mvc
@model Log4JDash.Web.Models.LogLevelInput

@{
    Layout = "_Editor.cshtml";

    var selectedLevelClass = Model.Value.ToLowerInvariant ();

    var id = Html.IdForModel ();
    var name = Html.NameForModel ();

    var modelMetadata = ViewData.ModelMetadata;
    var defaultValue = DefaultValueUtil.GetDefaultValue (modelMetadata);
}
<script type="text/javascript">
    function SyncSelectClass(select) {
        var selectedOption = select.options[select.selectedIndex];
        select.className = selectedOption.className;
    }
</script>
<select id="@id" name="@name" class="log-item-@selectedLevelClass" onchange="SyncSelectClass(this)" @DefaultValueUtil.HtmlAttibute="@defaultValue">
    @foreach (var level in Model.Levels)
    {
        var levelClass = level.ToLowerInvariant ();
        var isSelected = StringComparer.OrdinalIgnoreCase.Equals (Model.Value, level);
        var selected = isSelected
            ? Html.Raw (" selected=\"selected\"")
            : MvcHtmlString.Empty;
        <option value="@level" class="log-item-@levelClass"@selected>@level</option>
    }
</select>
<script type="text/javascript">
    (function () {
        var select = document.getElementById('@id');
        SyncSelectClass(select);
    })();
</script>
