@model Log4JDash.Web.Models.EventModel
@{
    var id = Model.Id;
    var levelClass = Model.Level.ToLowerInvariant ();
    var timestamp = Model.Time.ToLocalTime ();
    var date = timestamp.ToString ("yyyy-MM-dd");
    var time = timestamp.ToString ("HH:mm:ss.fff");
}

<li class="log-item log-item-@levelClass" value="@id">
    <input type="checkbox" class="log-item-collapsed" id="log-item-collapsed-@id" checked="checked" />
    <div class="log-item-collapse">
        <label for="log-item-collapsed-@id">
            <span class="log-item-collapsed-open">+</span>
            <span class="log-item-collapsed-close">-</span>
        </label>
        <div class="log-item-collapse-content">
            <span class="log-item-field log-item-timestamp">
                <label>Timestamp:</label>
                <span>
                    <span class="log-item-timestamp-date">@date</span><span class="log-item-timestamp-time">@time</span>
                </span>
            </span>
            <span class="log-item-field log-item-thread">
                <label>Thread:</label>
                <span>@Model.Thread</span>
            </span>
            <span class="log-item-field log-item-logger">
                <label>Logger:</label>
                <span>@Model.Logger</span>
            </span>
            <span class="log-item-field log-item-level">
                <label>Level:</label>
                <span>@Model.Level</span>
            </span>
            <span class="log-item-field log-item-message">
                <label>Message:</label>
                <span>@Model.Message</span>
            </span>
        </div>
    </div>
</li>
